version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          default-days: 7

    - package-ecosystem: 'npm'
      directory: '/cdk'
      # The version of aws-cdk-lib libraries must match those from @guardian/cdk.
      # We'd never be able to update them here independently, so just ignore them.
      ignore:
          - dependency-name: 'aws-cdk'
          - dependency-name: 'aws-cdk-lib'
          - dependency-name: '@aws-cdk/*'
      schedule:
          interval: 'weekly'
      cooldown:
          default-days: 7

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          default-days: 7
